{{#form-for user
    id="identification-form"
    submit=(action "identify")
    update=(action "update")
    as |f|
}}
    <div id="firstname" class="form-group {{if user.errors.firstname "has-error"}}">
      {{f.text-field "firstname" label="Prénom" placeholder="Jon"
        inputClasses="firstname_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div id="lastname" class="form-group {{if user.errors.lastname "has-error"}}">
      {{f.text-field "lastname" label="Nom" placeholder="Snow"
        inputClasses="lastname_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div id="email" class="form-group {{if user.errors.email "has-error"}}">
      {{f.email-field "email" label="Email" placeholder="jon.snow@winterfell.got"
        inputClasses="email_input form-control" labelClasses="control-label" errorClasses="help-block animated flash" hintClasses="help-block"
        autocomplete="on" required="true"
      }}
    </div>

    <div class="identification-form-actions pull-right">
      {{f.submit "Identifiez-vous" disabled=hasErrors  class="button button-primary" }}
    </div>
{{/form-for}}

