{{#unless hasUserConfirmWarning}}
  {{warning-page hasUserConfirmWarning=(action "setUserConfirmation") time=challenge.timer}}
{{/unless}}
{{#unless hasChallengeTimer}}

  {{#if challenge.hasntInternetAllowed}}
    {{challenge-stay}}
  {{/if}}

  {{challenge-instruction instruction=challenge._instructionAsObject}}
  <div class="rounded-panel challenge-response">
    <div class="challenge-proposals">
      {{qcm-proposals
        answers=answers._valueAsArrayOfBoolean
        proposals=challenge._proposalsAsArray
        onAnswerUpdated='answerChanged'}}
    </div>
    {{#if challenge.timer}}
      {{#if hasUserConfirmWarning}}
        {{timeout-jauge allotedTime=challenge.timer}}
      {{/if}}
    {{/if}}
  </div>

  {{#if errorMessage}}
    <div class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  {{/if}}

  {{#if assessment}}
    {{challenge-actionbar
      skip="skip"
      validate="validate"}}
  {{/if}}

{{/unless}}