<div class="rounded-panel challenge-statement">

  {{#if challenge.instruction}}
    <div class="rounded-panel__row challenge-statement__instruction-section">
      {{markdown-to-html class="challenge-statement__instruction" extensions='targetBlank'
                         markdown=challenge.instruction}}
    </div>
  {{/if}}

  {{#if challenge.illustrationUrl}}
    <div class="rounded-panel__row challenge-statement__illustration-section">
      <img class="challenge-statement__illustration" src="{{ challenge.illustrationUrl }}"
           alt="Illustration de l'épreuve">
    </div>
  {{/if}}

  {{#if challenge.hasAttachment}}
    <div class="rounded-panel__row challenge-statement__attachments-section">

      {{#if challenge.hasSingleAttachment}}
        <div class="challenge-statement__action">
          <a class="challenge-statement__action-link" href="{{challenge.attachments.firstObject}}" target="_blank">
            <span class="challenge-statement__action-label">Télécharger</span>
          </a>
        </div>
      {{/if}}

      {{#if challenge.hasMultipleAttachments}}
        <p class="challenge-statement__text">
          <span class="challenge-statement__text-content">Choisissez le type de fichier que vous voulez utiliser</span>
        <div class="challenge-statement__help-icon">
          <div class="challenge-statement__help-tooltip">
            <span class="challenge-statement__help-text">Pix vous laisse le choix du format de fichier à télécharger. Si vous ne savez pas quelle option retenir, conservez le choix par défaut. Il correspond au format de fichier pris en charge par le plus grand nombre de logiciels.</span>
          </div>
        </div>
        </p>
        <ul class="challenge-statement__file-options">
          {{#each challenge.attachments as |attachmentUrl index|}}
            <li class="challenge-statement__file-option">

              {{!-- This radiobutton is hidden  - SVG displayed instead - but needed to handle behaviour. --}}
              <input type="radio"
                     id="attachment{{index}}"
                     name="attachment_selector"
                     class="challenge-statement__file-option-input"
                     value="{{attachmentUrl}}"/>

              {{!-- Surrounding label --}}
              <label for="attachment{{index}}" onclick={{action "selectAttachementUrl" attachmentUrl}} class="label-checkbox-file-input">

                {{!-- text of proposal  --}}
                <span class="challenge-statement__file-option-label">fichier .{{extract-extension attachmentUrl}}</span>
                {{!-- SVG to represent on / off state --}}
                <svg class="radio2-on picture-checkbox-file-input" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><circle id="path-1" cx="10" cy="10" r="8"></circle><mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white"><use xlink:href="#path-1"></use></mask></defs><g id="Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icons" transform="translate(-134.000000, -50.000000)"><g id="icon--radio-on" transform="translate(132.000000, 48.000000)"><use id="Oval-Copy" stroke="#7D808B" mask="url(#mask-2)" stroke-width="4" fill="#FFFFFF" xlink:href="#path-1"></use><ellipse id="Oval-Copy-2" fill="#3D68FF" cx="10" cy="10" rx="4" ry="4"></ellipse></g></g></g></svg>
                <svg class="radio2-off picture-checkbox-file-input" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><circle id="path-1" cx="10" cy="10" r="8"></circle><mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="16" height="16" fill="white"><use xlink:href="#path-1"></use></mask></defs><g id="Styles" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Icons" transform="translate(-94.000000, -50.000000)" stroke="#7D808B" stroke-width="4" fill="#FFFFFF"><g id="icon--radio-off" transform="translate(92.000000, 48.000000)"><use id="Oval-Copy" mask="url(#mask-2)" xlink:href="#path-1"></use></g></g></g></svg>

              </label>

            </li>
          {{/each}}
        </ul>
        <div class="challenge-statement__action">
          <a class="challenge-statement__action-link" href="{{selectedAttachmentUrl}}" target="_blank">
            <span class="challenge-statement__action-label">Télécharger</span>
          </a>
        </div>
      {{/if}}
    </div>
  {{/if}}

</div>
