<div class='assessment-results' id='assessment-results'>

  {{course-banner course=model.assessment.course}}

  <div class='container'>

    <div class='assessment-results-title'>
      Vos résultats
    </div>

    <div class='assessment-results-list'>
      {{#each model.assessment.answers as |answer index|}}
        <div class='assessment-results-list-item assessment-results-result'>
            <div class="assessment-results-result-index">
                {{add index 1}}
            </div>            
            <div class="assessment-results-result-line">
            </div>            
            <div class="assessment-results-result-instruction">
                {{strip-instruction (convert-to-html answer.challenge.instruction)}}
            </div>
            <div class="assessment-results-result-img">
             {{#if answer.isResultOk}}
              <img width="24" height="24" src="{{rootURL}}images/result-ok.png" alt="result ok"
              data-toggle="tooltip" data-placement="top" title="Bonne réponse" >
             {{else if answer.isResultNotOk}}
              <img width="24" height="24" src="{{rootURL}}images/result-not-ok.png" alt="result not ok" 
              data-toggle="tooltip" data-placement="top" title="Mauvaise réponse">
             {{else}}
              <img class="red-tooltip" width="19" height="24" src="{{rootURL}}images/result-pending.png" alt="result pending" data-toggle="tooltip" data-placement="top" title="Vérification en cours">              
             {{/if}}
            </div>
            
        </div>
      {{/each}}
    </div>    

    <div class='assessment-results-link'>
      {{#link-to 'home' class='assessment-results-link-home' tagName='button'}}
            <span class="assessment-results-back">Revenir à la liste des tests</span>
      {{/link-to}}  
    </div>

  </div>


</div>
