<div class="navbar-header__container">

  <!-- Logo (left) -->
  <div class="navbar-header-logo">
    {{pix-logo}}
  </div>

  <!-- Links (right) -->
  <div class="navbar-header-right">
    <div class="navbar-header-links {{if isUserLogged 'navbar-header-links--user-logged' ''}}">
      <ul class="navbar-header-links__list">
        <li class="navbar-header-links__item">
          {{#link-to 'project' class="navbar-header-links__link navbar-header-links__link--project"}}Projet{{/link-to}}
        </li>
        <li class="navbar-header-links__item">
          {{#link-to 'competences' class="navbar-header-links__link navbar-header-links__link--competences"}}
            Compétences{{/link-to}}
        </li>
      </ul>
    </div>

    {{#if isUserLogged}}
      <div class="logged-user-details">
        <div class="logged-user-name" {{action 'toggleUserMenu'}} role="button" aria-haspopup="true"
             aria-expanded="{{_canDisplayMenu}}">
          <a href="#" role="button" class="logged-user-name__link">
            {{concat  user.firstName ' '  user.lastName}}
            <span class="caret"></span>
          </a>
        </div>
        {{#if _canDisplayMenu}}
          <div class="logged-user-menu">
            <ul class="logged-user-menu__list">
              <li class="logged-user-menu__item user-menu-item">
                <div class="user-menu-item__details">
                  <span class="user-menu-item__details-firstname"> {{user.firstName}}</span>
                  <span class="user-menu-item__details-email">{{user.email}}</span>
                </div>
                <div class="user-menu-item__account-link">
                  <button>Mon compte</button>
                </div>
              </li>
              <li class="logged-user-menu__item">
                {{#link-to 'logout' class="logged-user-menu__item-logout"}}se déconnecter{{/link-to}}</li>
            </ul>
          </div>
        {{/if}}

      </div>
    {{/if}}
  </div>

</div>
