{{#side-menu}}
  <ul class="navbar-header-links__list">
    <li class="navbar-header-links__item">
      <span>Menu</span>
      <span class="burger-close-button" {{action 'closeMenu'}}>
        <img src="{{rootURL}}/images/icons/icon-croix.svg" alt="close menu"></span>
    </li>
    {{#each menu as |item|}}
      <li class="navbar-header-links__item navbar-item-{{item.link}}-wrapper">
        {{#link-to item.link class="navbar-header-links__link"
                   classNameBindings="item.class" action="closeMenu" preventDefault=false}} {{item.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/side-menu}}

{{content-backdrop action 'closeMenu'}}

{{#side-menu-toggle}}
  &nbsp;
{{/side-menu-toggle}}