{{#side-menu}}
  <ul class="navbar-header-links__list">
    <li class="navbar-header-links__item">
      <span>Menu</span>
      <span class="burger-close-button" {{action 'closeMenu'}}>
        <img src="{{rootURL}}/images/icons/icon-croix.svg" alt="close menu"></span>
    </li>
    {{#each menu as |item|}}
      <li class="navbar-header-links__item">
        {{#link-to item.link class="navbar-header-links__link"
                   classNameBindings="item.class"}} {{item.name}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
{{/side-menu}}

{{content-backdrop}}

{{#side-menu-toggle}}
  <img src="{{rootURL}}/images/icons/icon-black-burger.svg" alt="burger menu">
{{/side-menu-toggle}}