{{#each proposalsAsStrings as |proposal index|}}
  <p class="proposal-paragraph">

    {{!-- Surrounding label --}}
    <label for="radio-button_{{index}}" class="label-checkbox-proposal--qcu" onclick={{action "changeAnswer" (inc index)}}>

      {{!-- Radio button --}}
      <input id="radio-button_{{index}}"
             type="radio"
             class=""
             name="radio-group"
             value="{{inc index}}"
             checked={{eq (parse-int answerValue) (inc index)}}/>

      {{!-- text of proposal  --}}
      <span class="proposal-text">{{proposal}}</span>

    </label>
  </p>
{{/each}}

