<form class="signup-form-container">

  <div class="signup-form__input-container">
    {{signup-textfield validate="validate" label="firstname" message="" status="" textfieldId="firstname"}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield}}
  </div>

  <div class="signup-form__cgu-container">
    J'​accepte les {{#link-to 'inscription' class="signup__cgu-link"}}conditions d'​utilisation de Pix{{/link-to}}
  </div>

  <div class="signup-form__submit-container">
    <button class="signup__submit-button" {{action "signup"}}>Je m'inscris</button>
  </div>

</form>
