<form class="signup-form-container">
  <div class="signup-form__logo">
    {{pix-logo}}
  </div>

  <div class="signup-form__heading-container">
    <h1 class="signup-form__heading">Inscription gratuite</h1>
  </div>

  <div class="signup-form__temporary-msg">
    <h4>{{registrationMessage}}</h4>
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield
      validate="validateInput" label="Nom"
      validationStatus=validation.lastname.status
      inputBindingValue=user.lastname
      textfieldName="lastname" validationMessage=validation.lastname.message}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield
      validate="validateInput" label="Prénom"
      validationStatus=validation.firstname.status
      inputBindingValue=user.firstname
      textfieldName="firstname" validationMessage=validation.firstname.message}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield
      validate="validateInputEmail" label="Adresse Email"
      validationStatus=validation.email.status
      inputBindingValue=user.email
      textfieldName="email" validationMessage=validation.email.message}}
  </div>

  <div class="signup-form__input-container">
    {{signup-textfield
      validate="validateInputPassword" label="Mot de passe"
      validationStatus=validation.password.status
      inputBindingValue=user.password
      textfieldName="password" validationMessage=validation.password.message}}
  </div>

  <div class="signup-form__cgu-container">

    <label for="cgu" class="signup-form__cgu-label">
      {{input type="checkbox" id='cgu' checked=user.cgu class="signup-form__cgu-checkbox"}}
      <span>J'​accepte les {{#link-to 'inscription' class="signup__cgu-link"}}conditions d'​utilisation de Pix{{/link-to}}</span>
    </label>

  </div>

  <div class="signup-form__submit-container">
    <button class="signup__submit-button" {{action (action "signup")}}>Je m'inscris</button>
  </div>
</form>