<div class="index-page">

  <div class="index-page__background"></div>

  <div class="index-page__section index-page__section--hero index-page-hero">

    {{navbar-header}}

    <div class="index-page-hero__content">
      <h1 class="index-page-hero__title">Développez vos compétences numériques</h1>
      <p class="index-page-hero__description">PIX est un projet public de plateforme en ligne d’évaluation et de certification des compétences numériques, en cours de développement.</p>
    </div>
  </div>

  <div class="index-page__section index-page__section--challenges index-page-challenges">
    <h2 class="index-page-challenges__title">Découvrez nos épreuves et aidez‑nous à les améliorer !</h2>
    <div class="index-page-challenges__list">
      {{course-list courses=model startCourse='startCourse'}}
    </div>
  </div>

  <div class="index-page__section index-page__section--community index-page-community">
    <h2 class="index-page-community__title">Rejoindre la communauté</h2>
    <p class="index-page-community__description">Vous souhaitez devenir béta-testeur<br>ou être informé(e) du développement de Pix ?</p>
    <div class="index-page-community__form">
      {{follower-form}}
    </div>
  </div>

  <div class="index-page__section index-page__section--features index-page-features">

    <div class="index-page-feature">
      <div class="index-page-feature__icon-container">
        <img src="{{rootURL}}images/icon-cafe.svg" class="index-page-feature__icon">
      </div>
      <div class="index-page-feature__title">Vivez l’expérience PIX</div>
      <div class="index-page-feature__text"> Un parcours d’évaluation convivial, accessible et interactif.</div>
    </div>
    <div class="index-page-feature">
      <div class="index-page-feature__icon-container">
        <img src="{{rootURL}}images/icon-monde.svg" class="index-page-feature__icon">
      </div>
      <div class="index-page-feature__title">PIX est pour tout le monde </div>
      <div class="index-page-feature__text"> Collégiens, lycéens, étudiants, professionnels, citoyens…</div>
    </div>
    <div class="index-page-feature">
      <div class="index-page-feature__icon-container">
        <img src="{{rootURL}}images/icon-reference.svg" class="index-page-feature__icon">
      </div>
      <div class="index-page-feature__title">PIX est la référence</div>
      <div class="index-page-feature__text"> La certification nationale de la culture numérique made in France au standard européen.</div>
    </div>
    <div class="index-page-feature">
      <div class="index-page-feature__icon-container">
        <img src="{{rootURL}}images/icon-evolutif.svg" class="index-page-feature__icon">
      </div>
      <div class="index-page-feature__title">PIX est évolutif</div>
      <div class="index-page-feature__text"> Le référentiel de compétences s’adapte en permanence aux évolutions du monde numérique.</div>
    </div>
    <div class="index-page-feature">
      <div class="index-page-feature__icon-container">
        <img src="{{rootURL}}images/icon-gratuit.svg" class="index-page-feature__icon">
      </div>
      <div class="index-page-feature__title">PIX est gratuit</div>
      <div class="index-page-feature__text"> Entraînez-vous et progressez gratuitement à votre rythme avant d’être certifié.</div>
    </div>
  </div>

  <div class="index-page__section index-page__section--partners">
    TODO
  </div>

</div>


{{app-footer}}