<div class="referential-page">

  {{navbar-header class="navbar-header--white"}}

  <section class="referential-page__panel referential-page__header">
    <h1 class="referential-page__header-text">Retrouver les 5 domaines de compétences que pix souhaite évaluer, en
      accord avec le référentiel européen DIGCOMP.</h1>
  </section>

  {{#each model as |domain|}}
    <section class="rounded-panel referential-domain referential-domain--information">
      <header class="referential-domain__header">
        <h2 class="referential-domain__title">{{domain.title}}</h2>
      </header>
      <div class="referential-domain__topics">
        {{#each domain.topics as |topic|}}
          <div class="domain-topic">
            <h3 class="domain-topic__title">{{topic.title}}</h3>
            <p class="domain-topic__description">{{topic.description}}</p>
            <div class="domain-topic__themes">
              <h4 class="domain-topic__themes-title">Thématiques associées</h4>
              <p class="domain-topic__themes-content">{{topic.themes}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
  {{/each}}

</div>

{{app-footer}}
